# Ignore log files
#*.log

# Ignore temporary files
# temp/

# Ignore build artifacts
# build/
# dist/

# Ignore image and mask files
2-DICOMS/
dcm2nifti/

#Ignore Virtual Environment
venvnick/

output.nrrd/
output1.nrrd/